body::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background-color: #101010;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 9999px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #101010;
  color: #fff;
  line-height: 1.5;
  height: 100%;
}

ul {
  list-style: none;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
  background-color: #101010;
}
.container .Heading {
  font-size: 13vw;
  white-space: nowrap;
  z-index: 1;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container .Heading {
    white-space: unset;
    margin: 3vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .container .Heading {
    white-space: unset;
    margin: 3vw;
  }
}

.container::after {
  content: " ";
  width: 100vw;
  height: 100vh;
  background-image: url(/splash.8ad5f3c2.png);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -17vw;
  z-index: 0;
  left: 0;
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.glock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  position: relative;
  top: -10vw;
  z-index: 2;
  pointer-events: none;
}
@media (min-width: 1px) and (max-width: 425px) {
  .glock {
    width: 81vw;
    top: unset;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .glock {
    width: 85vw;
    top: -16vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .glock {
    width: 64vw;
    top: -16vw;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .glock {
    width: 45vw;
    top: -16vw;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .glock {
    width: 34vw;
  }
}

/* Widths come from comparison of full size width to base's width */
#slideHolder {
  width: 99%;
  position: relative;
  z-index: 3;
  left: -0.9vw;
  top: 7.2vw;
}
@media (min-width: 1px) and (max-width: 425px) {
  #slideHolder {
    top: 24vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  #slideHolder {
    top: 24.2vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #slideHolder {
    top: 18.2vw;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #slideHolder {
    top: 12.9vw;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  #slideHolder {
    top: 9.6vw;
  }
}

.slide {
  width: 100%;
  position: relative;
  z-index: 2;
}

.barrel {
  width: 54.25%;
  position: relative;
  top: 2.3vw;
}
@media (min-width: 1px) and (max-width: 425px) {
  .barrel {
    top: 7.9vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .barrel {
    top: 7.9vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .barrel {
    top: 5.9vw;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .barrel {
    top: 4vw;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .barrel {
    top: 3.2vw;
  }
}

.spring {
  width: 40.333%;
  top: 1.5vw;
  position: relative;
}

.base {
  width: 100%;
  position: relative;
  z-index: 3;
}

.mag {
  width: 38%;
  z-index: 2;
  position: absolute;
  right: 0;
}

#magholder {
  position: relative;
  right: 1.2vw;
  top: -15.4vw;
}
@media (min-width: 1px) and (max-width: 425px) {
  #magholder {
    right: 15px;
    top: -49vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  #magholder {
    top: -52vw;
    right: 4.5vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #magholder {
    top: -39vw;
    right: 3.5vw;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #magholder {
    top: -27.5vw;
    right: 2.5vw;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  #magholder {
    top: -20.7vw;
    right: 1.8vw;
  }
}

.Section1 {
  background: #000000;
  height: 100vh;
}

.btngrp {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #131518;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btngrp button {
  letter-spacing: 0.15vw;
  padding: 0.8vw 1vw;
  margin: 1vw;
  width: 100%;
  margin-left: 0vw;
  margin-right: 0vw;
  background: #1e2022;
  border: none;
  color: white;
}
@media (min-width: 1px) and (max-width: 425px) {
  .btngrp button {
    font-size: 1.8vw;
    margin: 1vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .btngrp button {
    font-size: 1.5vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .btngrp button {
    font-size: 1vw;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .btngrp button {
    font-size: 1vw;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .btngrp button {
    font-size: 0.4vw;
  }
}
.btngrp h1 {
  text-transform: uppercase;
}

.btngrp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.btngrp2 #blue {
  background: #3b4d65;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (min-width: 1px) and (max-width: 425px) {
  .btngrp2 #blue {
    width: 35px;
    height: 35px;
  }
}
.btngrp2 #black {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (min-width: 1px) and (max-width: 425px) {
  .btngrp2 #black {
    width: 35px;
    height: 35px;
  }
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*# sourceMappingURL=/App.7aaa0588.css.map */